
 main{
     width: 100%;
     padding: 20px;
 }
 .sidebar{
     background: #122137;
     color: white;
     height: 100vh;
     width: 200px;
     transition: all 0.5s;
 }
 .top_section{
     display: flex;
     align-items:center;
     padding:20px 7px;
 }
 .logo{
     font-size: 20px;
 }
 .bars{
     display: flex;
     font-size: 25px;
     margin-left: 50px;
 }
 .link{
     display: flex;
     color: #fff;
     padding: 10px 15px;
     gap: 15px;
     transition: all 0.5s;
 }
 .link:hover{
     background:#21425F;
     color: #5CC8FF;
     transition: all 0.5s;
 }
 .active{
     background: #21425F;
     color: #5CC8FF;
 }
 .icon{
     font-size: 20px;
     color: #9F9999;
 }
 .active{
     color: #5CC8FF;
}

.link_text{
     font-size: 15px;
     color: #9F9999;
}